[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
aiodns = "*"
aiohttp = "*"
aioinflux = "*"
aiomqtt = "*"
APScheduler = "*"
aiokafka = "*"
bleak = {version = "*",platform_system = "== 'Windows'"}
aiofiles = {version = "*",platform_system = "== 'Windows'"}
txdbus = {version = "*",platform_system = "== 'Linux'"}

[requires]
python_version = "3.7"
